
<h1> Coucou la show, il fait show </h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card-garden">
          <%= cl_image_tag @garden.image.key%>
          <div class="card-garden-infos">
          <p><strong>Titre de l'annonce</strong></p>
          <p><strong>Description</strong></p>
          <p><strong>Prix</strong></p>
          <p><strong>Addresse</strong></p>
          <p><strong>Titre de l'annonce</strong></p>
          <p><strong>Titre de l'annonce</strong></p>
          <p><strong>Titre de l'annonce</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

