.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-garden {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-garden img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.card-garden h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-garden p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-garden .card-garden-infos {
  padding: 16px;
  color: #0E0000;
}

.card-reservation-image {
  margin-bottom: 20px;
  width: 30%;
  object-fit: cover;
}

.card-garden-link:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-decoration: none;
}